  #cuerpo
{
    width: 450px;
    height: 50px;
    margin: 0px;
    padding: 10px;
    background-color: #E9E9E9;
}
#datosProfesor
{
	display: inline-block;
//	vertical-align: top;
	border-style: solid;
	border-color: #71C0FD;
    //border-radius: 20px;
	border-width: 1px;
    width: 980px;
	height: 500px;
}

.forms
{
    display: inline-block;
}

.datos
{
	
	width: 630px;
	height: auto;
	margin: 10px auto;
}

.labels
{
	font-family: 'Roboto', sans-serif;
	font-size:13px;
    font-weight: bold;
	color: #727272;
	text-align: right;
	display: block;
	display: inline-block;
	width: 70px;
    padding-right:10px;
	height: 15px;
}
.labels2
{
	font-family: 'Roboto', sans-serif;
	font-size:13px;
    font-weight: bold;
	color: #727272;
	text-align: right;
	display: block;
	display: inline-block;
	width: auto;
	height: 15px;
}

.legends
{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    font-weight: lighter;
    color: #929292;
    text-align: center;
    display: block;
    display: inline-block;
    width:auto;
    height: auto;
}
.fieldsets
{
    border: solid;
    border-width: 1px;
    border-color: #D0D0D0;
    border-radius: 3px;
    width: 885px;
    height: auto;
    padding: auto;
}

h2
 {
 	font-family: 'Roboto', sans-serif;
	font-size:16px;
	color: #727272;
	text-align: center;
	display: block;
	display: inline-block;
	width: 695px;
    margin: 15px 0 0 0;
	height: auto;
}

.inputs,.textarea{
    font-family: 'Roboto', sans-serif;
	font-size:14px;
    outline:none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:gray;
    background-color:#FBFBFB;
    padding: 6px 3px 6px 3px;
    margin: 10px 0 10px 0;
    width: 150px;
    height: 20px;
}
 
  .inputs2{
    font-family: 'Roboto', sans-serif;
	font-size:14px;
    outline:none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:gray;
    background-color:#FBFBFB;
    padding: 6px 3px 6px 3px;
    margin: 10px 0 10px 0;
    width: 240px;
    height: 20px;
}
.inputs:focus {
    box-shadow: 0 0 10px #53B2FF;
    -webkit-box-shadow: 0 0 10px #53B2FF;
    -moz-box-shadow: 0 0 10px #53B2FF;
    border:1px solid #999;
    background-color:white;
}

/*.fieldsets .inputs{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    outline:none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:gray;
    background-color:#FBFBFB;
    padding: 6px 3px 6px 3px;
    margin: 10px 0 10px 0;
    width: 190px;
    height: 20px;
}
 
.fieldsets .inputs:focus {
    box-shadow: 0 0 10px #53B2FF;
    -webkit-box-shadow: 0 0 10px #53B2FF;
    -moz-box-shadow: 0 0 10px #53B2FF;
    border:1px solid #999;
    background-color:white;
}*/

#genero{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    outline:none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:gray;
    background-color:#FBFBFB;
    padding: 6px 3px 6px 3px;
    margin: 10px 0 0 0;
    width: 217px;
}

.fieldsets #falla_en,#tipo_servicio,#tipo_falla{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    outline:none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:gray;
    background-color:#FBFBFB;
    padding: 6px 3px 6px 3px;
    margin: 10px 0 0 0;
    width: 108px;
}
 
#tipo_falla,#tipo_servicio,#falla_en:focus {
    box-shadow: 0 0 10px #53B2FF;
    -webkit-box-shadow: 0 0 10px #53B2FF;
    -moz-box-shadow: 0 0 10px #53B2FF;
    border:1px solid #999;
    background-color:white;
}

#nombres
{
	width: 524px;
}




.buttons{
	display: inline-block;
    background:#0D98FB; 
    background-image: -webkit-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(top,#0D98FB,#1A5DB3);  
    background-image: linear-gradient(to bottom,#0D98FB,#1A5DB3);   
    border: 1px solid #125CB5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;  
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #71C0FD inset;
    -webkit-box-shadow: 0 1px 1px #71C0FD inset;
    -o-box-shadow: 0 1px 1px #71C0FD inset; 
    box-shadow: 0 1px 1px #71C0FD inset;
    padding: .8em 1.8em;
    color: white;
    font-weight:normal;
    text-decoration:none;
    width: 130px;
    height: 40px;
    margin: 10px;
    
}

.buttons:hover
{
    background:#1A5DB3;
    background-image: -webkit-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(bottom,#0D98FB,#1A5DB3);   
    background-image: linear-gradient(to top,#0D98FB,#1A5DB3);
    cursor: pointer;
}

#modificar
{
    display: inline-block;
    background:#0D98FB; 
    background-image: -webkit-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(top,#0D98FB,#1A5DB3);  
    background-image: linear-gradient(to bottom,#0D98FB,#1A5DB3);   
    border: 1px solid #125CB5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;  
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #71C0FD inset;
    -webkit-box-shadow: 0 1px 1px #71C0FD inset;
    -o-box-shadow: 0 1px 1px #71C0FD inset; 
    box-shadow: 0 1px 1px #71C0FD inset;
    padding: .8em 1.8em;
    color: white;
    font-weight:normal;
    text-decoration:none;
    width: 156px;
    height: 40px;
    margin: 0px 0 0 0;
}

#modificar:hover
{
    background:#1A5DB3;
    background-image: -webkit-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(bottom,#0D98FB,#1A5DB3);   
    background-image: linear-gradient(to top,#0D98FB,#1A5DB3);
    cursor: pointer;
}

#botones
{
	width: 650px;
	height: 50px;
}

.archivo
{
	display: inline-block;
    background:#0D98FB; 
    background-image: -webkit-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(top,#0D98FB,#1A5DB3);  
    background-image: linear-gradient(to bottom,#0D98FB,#1A5DB3);   
    border: 1px solid #125CB5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;  
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #71C0FD inset;
    -webkit-box-shadow: 0 1px 1px #71C0FD inset;
    -o-box-shadow: 0 1px 1px #71C0FD inset; 
    box-shadow: 0 1px 1px #71C0FD inset;
    padding: .8em 1.8em;
    color: white;
    font-weight:normal;
    text-decoration:none;
    width: 100px;
    height: 20px;
    margin: auto;
    padding: 10px 27px;
    
}

.archivo:hover {
    background:#1A5DB3;
    background-image: -webkit-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(bottom,#0D98FB,#1A5DB3);   
    background-image: linear-gradient(to top,#0D98FB,#1A5DB3);
    cursor: pointer;
    color: white;
}
