#menu {
height: 52px;
width: 968px;
background-color: #30F;
}
 
#slices {
height: 150px;
width: 1340px;
background-color: #FF0;
}
 
#cuerpo2 {
height: 1000px;
width: 1340px;
background-color: #C60;
}
 
#contenedor {
width: 968px;
border-radius: 10px;
color: #FF0;
}
 
#footer {
height: 50px;
width: 968px;
background-color: #C09;
}




/*********************
Menu Lateral

***********************/

#menu-izq{
	float:left;
	padding-top:160px;
    margin-left:5px;
	width: 200px;
	height: 400px;	
}
#elegida{
	float: left;
	width: 200px;
	height: 40px;
	padding: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
        border-radius: 3px;
	cursor: pointer;
	background-color: #F2F2F2;
}
.funcion{
	float: left;
	width: 200px;
	height: 40px;
	padding: 2px;
	cursor: pointer;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color: #BDBDBD;
}
.funcion:hover{		
	background-color: #F2F2F2;	
}
#mensajes_sistema{         
     position:absolute;
     width:250px;
     height:30px;
     top:300px;
     left:500px;    
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px; 
     padding-top:10px;
     padding-left:30px;
     padding-right:30px;
     background-color:#FF4000;
     color:#F2FBEF;  
     z-index:6;
     cursor:pointer;
     display:none;
}